---
import Blog from "../components/Blog.astro";
import Layout from "../layouts/Layout.astro";
---


<Layout title="Case Studies">
  <div class="casestudy-wrapper">
    <h1>Case Studies</h1>
    <Blog />
  </div>
</Layout>

<style>
  .casestudy-wrapper {
    background-color: blueviolet;
  }
</style>
