---
title: "My First Blog Post";
description: "This is the first post of my new Astro blog.";
author: "Bhagwati Industries";
image: url: "https://docs.astro.build/assets/full-logo-light.png";
alt: "The full Astro logo.";
tags: ["astro", "blogging", "learning in public"];
---

<div class="blog-wrapper"></div>

<style>
  .blog-wrapper {
    max-width: 80%;
    background-color: aliceblue;
  }

  @media screen and (max-width: 768px) {
    .blog-wrapper {
      max-width: 90%;
    }
  }
</style>
