---
import { Image } from "astro:assets";

const props = Astro.props;
---

<a href={"/casestudy"}>
  <div class="card">
    <Image class="image" src={props.caseStudy} alt="casestudy" />
    <h1>{props.caseStudyName}</h1>
    <h3>{props.serviceProvided}</h3>
  </div>

  <style>
    .card {
      display: flex;
      flex-direction: column;
      gap: 2;
    }
  
  </style>
</a>
