---
interface Props {
  title: string;
}
import { ViewTransitions, slide } from "astro:transitions";
import NavLinks from "../components/navLinks.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate={slide({ duration: "0.4s" })}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <div class="app-wrapper">
      <!-- <Navbar /> -->
      <NavLinks />
      <div>
        <slot />
      </div>
    </div>

    <style is:global>
      html {
        scroll-behavior: smooth;
      }
      body {
        margin: 0;
        box-sizing: border-box;
        max-width: 100vw;
      }
      .nav-links {
        position: fixed;
        left: auto;
        right: 10rem;
        color: black;
        text-align: right;
      }
      @media screen and (max-width: 768px) {
        .nav-links {
          right: 1rem;
        }
      }

      @font-face {
        font-family: "RedHatDisplayBold";
        src: url("/fonts/RedHat/Display/Bold.ttf") format("truetype");
        font-weight: bolder;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "RedHatDisplayMedium";
        src: url("/fonts/RedHat/Display/Medium.ttf") format("truetype");
        font-weight: bold;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "RedHatTextRegular";
        src: url("/fonts/RedHat/Text/Regular.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "RedHatTextBold";
        src: url("/fonts/RedHat/Text/Bold.ttf") format("truetype");
        font-weight: bolder;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "RedHatMono";
        src: url("/fonts/RedHat/Mono/Regular.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      .heading {
        font-size: 4rem;
        margin-top: 0px;
        margin: 0px;
      }
      table {
        font-family: "RedHatTextRegular";
      }
      p {
        font-family: "RedHatTextRegular";
        margin: 0px;
      }

      .logo-wrapper {
        max-width: 256px;
        height: auto;
      }
      .app-wrapper {
        padding-left: 5vw;
        padding-right: 5vw;
      }

      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }
      html {
        max-width: 100vw;
        background: #f4f4f3;
      }
      h1,
      h2 {
        font-family: "RedHatDisplayBold";
        font-weight: bolder;
      }
      h3 {
        font-family: "RedHatDisplayBold";
        font-weight: bold;
      }
      p {
        font-family: "RedHatTextRegular";
      }
      li {
        font-family: "RedHatTextRegular";
      }
      @media only screen and (max-width: 767px) {
        .heading,
        h1 {
          font-size: 2rem;
          margin-top: 0px;
          margin: 0px;
        }
      }
      .case-study-table {
        max-width: fit-content;
        border: 1px solid #131313;
        border-radius: 1px;
        margin-bottom: 1em;
      }

      .case-study-table th {
        font-weight: bold;
        text-align: left;
        padding: 0.5em;
      }

      .case-study-table td {
        padding: 0.6em;
        text-align: left;
      }
    </style>
  </body>
</html>
